#lqi_map {
    width: max-content;
    float: left;
    padding-right: 5%
    
}

.map {
	margin: 20px 0 40px 0;
}

.clearfix {
  overflow: auto;
}

.map-400 {
	width: 400px;
}

.map-600 {
	width: 600px;
}

.map-left {
	float: left;
	padding-right: 20px;
}

.map-right {
	float: right;
	padding-left: 20px;
}
